.container-header {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
    max-width: 100%;
    background: #301B46;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1px;
}

.nav {
    background: #DEDAD0;
}

.container-title {
    margin-top: 90px;
    text-align: center;
}

.title {
    color: #902829;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
}

/*Inicio de estilos registrar paciente*/
.container-form {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container-input {
    margin-bottom: 10px;
}

.label-form {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #000;
}

.input-form {
    width: 500px;
    height: 30px;
    border-radius: 2px;
    border: 0.3px solid gray;
    box-shadow: 0px 1px 0px rgba(144, 40, 41, 0.5);
    background-color: #F3EDED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.button-form {
    background: #902829;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #FFF;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.button-form:hover {
    background: #C88A3F;
}

/*fin de estilos de registrar paciente*/

/*Inicio de estilos de agendar cita*/
.container {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
}

.input-barra-busqueda {
    width: 470px;
    height: 25px;
    border-radius: 2px;
    border: 0.3px solid gray;
    box-shadow: 0px 1px 0px rgba(144, 40, 41, 0.5);
    background-color: #F3EDED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.container-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: #D9D9D9;
}

.input-option {
    width: 300px;
    height: 25px;
    border-radius: 2px;
    border: 0.3px solid gray;
    box-shadow: 0px 1px 0px rgba(144, 40, 41, 0.5);
    background-color: #F3EDED;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.container-table {
    position: relative;
    margin-top: 30px;
    background: #e0dfdf;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.cabecera {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    background: #902829;
    color: white;
}

.tbody {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    background: #D9D9D9;
}

.container-button {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 40px;
    margin-top: 100px;
}

.button-guardar {
    background: #902829;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border-radius: 2px;
    border: 1px solid #FFF;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.button-guardar:hover {
    background-color: #C88A3F;
}

.button-cancelar {
    background: #C88A3F;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #FFF;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.button-cancelar:hover {
    background-color: #dcd7d7;
    color: #000;
}